<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJx2hR3BsTK6h-EvfbetWqaFZF5QTHHWE</string>
	<key>GCM_SENDER_ID</key>
	<string>739010726330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobileappcoaching.com.JohHunt</string>
	<key>PROJECT_ID</key>
	<string>jobhunt-57a99</string>
	<key>STORAGE_BUCKET</key>
	<string>jobhunt-57a99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739010726330:ios:de29c818f3fa1ffbd0f583</string>
</dict>
</plist>